body {
    width: auto;
    height: auto;
}

#table {
    margin: 0 25% 0 25%;
    width: 50%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

th {
    border: 1px solid black;
    
    min-width: 100px;
}

.id {
    padding: 10px;
    min-width: 50px;
    max-width: 70px;
}

td {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other {
    padding: 10px;
    min-width: 80px;
    max-width: 100px;
}

tr {
    border-bottom: 1px solid black;
}

.about {
    white-space: normal;
    text-align: left;

    display: -webkit-box;
    line-height: 30px;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#data_edit {
    width: 450px;
    height: 50%;
    border: 1px solid red;
    position: fixed;
    left: 0px;
    top: 100px;
    display: none;
    background-color: white;
}

input {
    border: 1px solid black;
}

#person_data {
    display: grid;
    grid-template-columns: 130px auto;
}

button {
    border: 1px solid black;
}

footer {
    border-top: 1px solid grey;
    padding-top: 10px;
    text-align: center;
}

#pages {
    height: 15px;
}

#data_edit {
    padding: 10px;
}

header {
    border-bottom: 1px solid gray;
    height: 50px;
}

#title {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

#config {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    right: 0px;
    position: absolute;
    background: gray;
}

div > img {
    height: 48px;
    width: 48px;
}

#wrapper {
    margin-left: -100px;
    height: auto;
    width: auto;
    display: grid;
    grid-column: auto;
    padding: 5px;
    border: 1px solid black;
    background: white;
}

#wrapper> div {
    padding: 5px;
}

#checkbox_column {
    display: none;
}

#checkbox_column:hover {
    display: block;
}

#config:hover > #checkbox_column {
    display: block;
}

.sort_table {
    position: absolute;
    border: 1px solid red;
    background: white;
    display: none;
    right: 0px;
    width: 25%;
    height: 300px;
    padding: 5px;
    top: 100px;
}

.sort_table > div {
    padding: 5px;
}

#sort_list_window {
    border: 1px solid black;
    width: 190px;
    height: 220px;
    padding: 5px;
}

#sort_list {
    border: 1px solid black;
    width: 180px;
    height: 190px;
    padding: 5px;
    display: grid;
    grid-column: auto;
    overflow: scroll;
}

#sort_list > div{
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.eyeColor {
    display: flex; 
    height: auto; 
    width: auto; 
    justify-content: space-evenly;
}

.eyeColor > div {
    width: 15px; 
    height: 15px;
}